<!DOCTYPE html>
<html lang="en">

<head>
    {{>header_links}}


</head>

<body>
    {{>navbar}}
    
    <!-- Main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <!-- Left side div -->
                <div class="row">
                    <div class="col-md-6 col-12 main-header-left ">
                        <figure>
                            <!-- <div class="carousel-item active"> -->
                            <img class="w-100" src="./images/aboutus.webp" alt="First slide">
                            <!-- </div> -->
                        </figure>
                    </div>


                    <!-- Right side div -->
                    <!-- <div class="row"> -->
                    <div class="col-md-6 col-12 main-header-left ">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="text-clr">MERN</span> Stack</h1>
                        <a href="https://github.com/Vishali-Gupta" target="_blank">
                        <button>About Me</button>
                        </a>
                        
                        <!-- </div> -->




                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- footer  -->
    {{>footer}}
</body>

</html>